@font-face {
    font-family: "LS";
    src: url('../fonts/LeagueSpartan-Bold.otf') format('opentype');
}

:root {
    --primaryColor: #1543f0;
    --secondaryColor: #fe3;
    --fontColor: #191b63;
    /*----------------------*/
    --primaryColor: #161928;
    --secondaryColor: #ec2424;
    --gradientColor: #161928;
    --fontColor: #161928;
    --otherFontColor: #fbfcfc;
    --largeur: 50%;
    --max-largeur: 1152px;
}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

body {
    height: 500vh;
    color: var(--fontColor);
    background-color: var(--otherFontColor);
    font-family: 'work sans';
}

body p {
    font-size: 20px;
    text-align: justify;
}

.page-largeur {
    width: var(--largeur);
    max-width: var(--max-largeur);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loader h2 {
    color: var(--otherFontColor);
    font-size: 2em;
    margin-top: 2em;
}

#loader-content {
    position: absolute;
    width: 208px;
}

#loader-content p {
    background: var(--secondaryColor);
    color: var(--otherFontColor);
    border-radius: 10px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    margin: 0;
    margin-top: 1em;
    padding: 0.25em;
    margin-left: calc(0% - 25px);
    position: relative;
}

#loader-content p:after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--secondaryColor);
}

.progress-bar {
    background-color: var(--secondaryColor);
    transition: all 0s;
}

h2 {
    font-family: 'LS';
    font-size: 40px;
}

section h2:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--primaryColor);
}

header {
    height: 100vh;
    max-height: 1080px;
    color: var(--otherFontColor);
}

main {
    margin-top: -11em;
}

@keyframes wave {
    0% {
        width: calc(194% + 1.3px);
        height: 400px;
    }
    50% {
        width: calc(225% + 1.3px);
        height: 450px;
    }
    100% {
        width: calc(194% + 1.3px);
        height: 400px;
    }
}

#shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#shape svg {
    position: relative;
    display: block;
    width: calc(194% + 1.3px);
    height: 400px;
    transform-origin: bottom;
    animation: wave 5000ms cubic-bezier(.86, .99, .76, .95) infinite;
}

#shape .shape-fill {
    fill: var(--otherFontColor);
}

#header-main-content {
    position: relative;
    height: 100%;
    background: linear-gradient(var(--primaryColor) 74px, var(--gradientColor));
    overflow: hidden;
}


/*HEADER NAV*/

#navigation {
    background-color: var(--primaryColor);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar {
    justify-content: space-between;
    width: 80%;
    max-width: 1332px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}


/*-----*/

a,
a:hover {
    color: var(--otherFontColor);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.25px;
    font-size: 15px;
    font-family: 'Titillium web';
}

.nav-link,
.nav-link:hover {
    position: relative;
    margin: 0 0.5em;
}

.nav-link:after {
    display: block;
    content: "";
    height: calc(100% + 20px);
    width: 100%;
    position: absolute;
    top: -10px;
    transform: scaleY(0);
    transform-origin: top;
    left: 0;
    background-color: var(--secondaryColor);
    transition: all 250ms ease-in-out;
    z-index: -1;
}

.nav-link.active:after,
.nav-link:hover:after {
    transform: scaleY(1);
}

#cv,
#work {
    margin: 0;
    border-radius: 20px;
}

#cv {
    color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
}

#cv:after {
    content: none;
}

#work {
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 2em;
    text-decoration: none;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

#info {
    height: 100%;
}

#info-text {
    position: absolute;
    top: 30%;
}

#info-text p {
    font-size: 20px;
    margin: 0;
}

#info-text h2 {
    font-size: 50px;
    margin: 0;
}

#info-photo {
    position: absolute;
    left: calc(100% - 281px);
    top: 25%;
    transform: scale(1.4);
    overflow: hidden;
}

#info-photo img {
    width: 100%;
    transform: rotate(2deg);
}

#projets {
    position: relative;
    padding-top: 4em;
}