@font-face {
    font-family: "LS";
    src: url('../fonts/LeagueSpartan-Bold.otf') format('opentype');
}

@font-face {
    font-family: "TW-b";
    src: url('../fonts/titillium-web/TitilliumWeb-Bold.ttf') format('opentype');
}

@font-face {
    font-family: "WS-r";
    src: url('../fonts/work-sans/WorkSans-Regular.ttf') format('opentype');
}

:root {
    --primaryColor: #263547;
    --primaryColorA: rgba(38, 53, 71, 0.95);
    --secondaryColor: #fd4345;
    --fontColor: #263547;
    --otherFontColor: #fdfdfd;
    --reseauxColor: #696b75;
    --largeur: 55%;
    --min-largeur: 768px;
    --max-largeur: 1140px;
}

@keyframes wave {
    0% {
        width: calc(194% + 1.3px);
        height: 400px;
    }
    50% {
        width: calc(225% + 1.3px);
        height: 450px;
    }
    100% {
        width: calc(194% + 1.3px);
        height: 400px;
    }
}

html {
    scroll-behavior: smooth;
    overflow-y: hidden;
}

body {
    color: var(--fontColor);
    background-color: var(--otherFontColor);
}

body p {
    font-size: 20px;
    font-family: 'WS-r';
    text-align: justify;
}

header {
    height: 900px;
    padding-top: 58px;
}

header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 900px;
    top: -58px;
    left: 0;
    z-index: -1;
    transform: rotateY(180deg);
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: right;
    background-position-Y: 58px
}

header,
footer {
    color: var(--otherFontColor);
}

#header-main-content,
footer {
    overflow: hidden;
    position: relative;
    height: 100%;
    /*background-color: var(--primaryColor);*/
}

#header-main-content {
    background-color: var(--primaryColorA);
}

main {
    margin-top: -11rem;
    padding-bottom: 1rem;
}

section {
    position: relative;
}

.page-largeur {
    min-width: var(--min-largeur);
    width: var(--largeur);
    max-width: var(--max-largeur);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

section h2:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-color: var(--primaryColor);
}

h2 {
    font-family: 'LS';
    font-size: 40px;
}

a,
a:hover {
    color: var(--otherFontColor);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.25px;
    font-size: 15px;
    font-family: 'TW-b';
}


/*-------------LOADER PAGE-----------------------------*/

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loader h2 {
    color: var(--otherFontColor);
    font-size: 2rem;
    margin-top: 2.5rem;
}

.spinner-border {
    width: 4rem;
    height: 4rem;
    border-width: 0.33rem;
    border-color: var(--otherFontColor);
    border-top-color: var(--secondaryColor);
}


/*---------------------------------------------------*/


/*-------------SHAPE DIVIDER-------------------------*/

#shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#shape svg {
    position: relative;
    display: block;
    width: calc(194% + 1.3px);
    height: 400px;
    transform-origin: bottom;
    animation: wave 5000ms cubic-bezier(.86, .99, .76, .95) infinite;
}

#shape .shape-fill {
    fill: var(--otherFontColor);
    transform: scale(1.01);
}


/*---------------------------------------------------*/


/*-------------HEADER NAVIGATION---------------------*/

#navigation {
    /* background-color: var(--primaryColor); */
    background-color: var(--primaryColorA);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    transition: all 250ms ease-in-out;
}

.navbar {
    width: 80%;
    max-width: 1280px;
    min-width: max-content;
    margin: 0 auto;
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-flow: row nowrap;
}

.nav-link,
.nav-link:hover {
    position: relative;
    margin: 0 0.25rem;
    padding: 0.5rem!important;
}

.nav-link:after {
    display: block;
    content: "";
    height: calc(100% + 20px);
    width: 100%;
    position: absolute;
    top: -10px;
    transform: scaleY(0);
    transform-origin: top;
    left: 0;
    background-color: var(--secondaryColor);
    transition: all 250ms ease-in-out;
    z-index: -1;
}

.nav-link.active:after,
.nav-link:hover:after {
    transform: scaleY(1);
}


/*---------------------------------------------------*/


/*-------------------HEADER--------------------------*/

#cv,
#work {
    margin: 0;
    border-radius: 50px;
    text-decoration: none;
}

#cv {
    color: var(--secondaryColor);
    border: 2px solid var(--secondaryColor);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

#cv:after {
    content: none;
}

#work {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}

#info {
    height: 100%;
}

#info-text,
#info-photo {
    position: absolute;
    top: 25%;
}

#info-text {
    z-index: 1;
}

#info-text h2,
#info-text p {
    margin: 0;
}

#info-text h2 {
    font-size: 50px;
}

#info-photo {
    left: calc(100% - 281px);
    transform: scale(1.4);
    overflow: hidden;
}

#info-photo img {
    width: 100%;
    transform: rotate(2deg);
}


/*---------------------------------------------------*/


/*-------------------      --------------------------*/

#projets {
    padding-top: 4rem;
}

.reseaux-sociaux {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    position: relative;
    z-index: 1;
}

.reseaux-sociaux a {
    position: relative;
    margin-right: 2rem;
    text-transform: lowercase;
}

.reseaux-sociaux i {
    color: var(--reseauxColor);
    transition: color 250ms ease-in-out;
}

.reseaux-sociaux i:hover {
    color: var(--otherFontColor);
}

.reseaux-sociaux a:nth-child(2) span:after,
.reseaux-sociaux a:nth-child(4) span:after {
    left: 35px;
}

.reseaux-sociaux span {
    display: block;
    position: absolute;
    left: -1.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 50px;
    color: var(--reseauxColor);
    background-color: var(--otherFontColor);
    box-shadow: 0 0 2px var(--reseauxColor);
    font-family: "WS-r";
}

.reseaux-sociaux span:after {
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--otherFontColor);
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 968px) {
     :root {
        --min-largeur: unset;
        --largeur: 80%;
    }
    body p {
        font-size: 17.5px;
    }
    header,
    header:before {
        height: 720px;
        padding-top: 0;
    }
    h2 {
        font-size: 30px;
    }
    #navigation,
    .navbar {
        height: 100%;
        width: 100%;
        background-color: var(--primaryColor);
    }
    .navbar,
    .navbar-nav {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .nav-link,
    .nav-link:hover {
        text-align: center;
        width: 10rem;
        font-size: 17.5px;
        margin-bottom: 1.5rem;
        padding: 0!important;
        padding-bottom: 0.5rem!important;
        border-bottom: 2px solid var(--secondaryColor);
        transition: all 250ms ease-in-out;
    }
    .nav-link:hover {
        color: var(--secondaryColor);
    }
    .nav-link:after {
        content: none;
    }
    #menu {
        position: fixed;
        top: 15px;
        right: 15px;
        height: 25px;
        width: 35px;
        display: block;
        cursor: pointer;
        z-index: 999;
    }
    .bar {
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        border-radius: 50px;
        background: var(--secondaryColor);
        transition: all ease 250ms;
    }
    #menu .bar:nth-child(1) {
        top: 0;
    }
    #menu .bar:nth-child(2) {
        top: 10px;
    }
    #menu .bar:nth-child(3) {
        top: 20px;
    }
    #menu.change .bar:nth-child(1) {
        transform: rotate(-45deg);
        top: 10px;
    }
    #menu.change .bar:nth-child(2) {
        opacity: 0;
    }
    #menu.change .bar:nth-child(3) {
        transform: rotate(45deg);
        top: 10px;
    }
    #info-text {
        top: 22.5%;
    }
    #info-text h2 {
        font-size: 40px;
    }
    #info-photo img {
        width: 192px;
    }
    #info-photo {
        left: calc(100% - 192px);
        top: 22.5%;
    }
    .reseaux-sociaux {
        margin-top: 4rem;
    }
    #cv {
        margin-top: 2rem;
        font-size: 17.5px;
        text-align: center;
    }
    #projets {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 656px) {
    header,
    header:before {
        height: 620px;
    }
    body p {
        font-size: 17.5px;
    }
    h2 {
        font-size: 25px;
    }
    #shape {
        width: 200%;
        left: -20%;
    }
    #info-text h2 {
        font-size: 30px;
    }
    #info-text {
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #info-photo {
        display: none;
    }
    .reseaux-sociaux a {
        margin: 0 1rem;
    }
    .reseaux-sociaux span {
        left: -1.5rem;
    }
    .reseaux-sociaux span:after {
        left: 30px;
        top: -5px;
    }
    .reseaux-sociaux a:nth-child(4) span {
        left: -6rem;
    }
    .reseaux-sociaux a:nth-child(4) span:after {
        left: 105px;
    }
}

@media screen and (max-width: 360px) {
    body p {
        font-size: 15px;
    }
    h2 {
        font-size: 22.5px;
    }
    #info-text h2 {
        font-size: 27.5px;
    }
}